/* stylelint-disable selector-class-pattern */

.cm-markdown-mark {
	text-decoration: none !important;

	&:has(~ .cm-markdown-heading) {
		vertical-align: .125rem;
	}
}

.cm-markdown-heading {
	display: inline-block;
	margin: 0;
	font-weight: bold;
	font-size: 1.125rem;
	line-height: 1.5rem;
}

.cm-markdown-blockquote {
	color: transparent;

	&::before {
		position: absolute;
		width: 3px;
		height: calc(1.25rem + 2px);
		margin-top: -1px;
		background-color: #666;
		border-radius: .125rem;
		content: '';
	}

	&:has(~ .cm-markdown-heading) {
		&::before {
			height: calc(1.5rem + 2px);
		}
	}
}

.cm-markdown-inline-code,
.cm-markdown-code-block {
	color: color-mix(in srgb, currentcolor, black 10%);
	font-family: 'Ubuntu Mono', monospace;
	background-color: #0004;
}

.cm-markdown-inline-code {
	padding-block: .125rem;
	border-radius: .25rem;

	&:has(.cm-markdown-hidden) {
		padding-inline: .25rem
	}
}

.cm-markdown-url {
	color: var(--color-accent);
}

.cm-markdown-code-block {
	padding-inline: .375rem !important;
	tab-size: 2;
}

.cm-markdown-code-block:first-child,
.cm-line:not(.cm-markdown-code-block) + .cm-markdown-code-block {
	border-top-left-radius: .375rem;
	border-top-right-radius: .375rem;
}

.cm-markdown-code-block:has(+ .cm-line:not(.cm-markdown-code-block)),
.cm-markdown-code-block:last-child {
	border-bottom-right-radius: .375rem;
	border-bottom-left-radius: .375rem;
}

.cm-markdown-task-marker {
	font-family: 'Ubuntu Mono', monospace;
}

.cm-markdown-checkbox {
	position: relative;
	top: .125rem;
	display: inline-flex;
	margin-inline-end: .25rem;

	& > input {
		width: .875rem;
		height: .875rem;
		margin: 0;
	}
}
