/* stylelint-disable selector-class-pattern */

.cm-cursor,
.cm-dropCursor {
	width: 2px;
	margin: -1px !important;
	background-color: var(--color-text);
	border: none !important;
	transition: all 50ms;
}

/* cursor height */

/* selection bg */

/*
'.cm-selectionLayer': { zIndex: '100 !important', mixBlendMode: 'hue !important' },
	'.cm-selectionBackground': { backgroundColor: 'var(--color-accent-25) !important' },

	'.cm-selectionBackground': { backgroundColor: 'var(--color-accent-25) !important' },
*/

.cm-selectionLayer { mix-blend-mode: hue;
	pointer-events: none; }

.cm-markdown-blockquote {
	&::before {
		position: absolute;
		width: 3px;
		height: calc(1.25rem + 2px);
		margin-top: -1px;
		background-color: color-mix(in srgb, var(--color-text), #222 50%);
		border-radius: .125rem;
		content: '';
	}

	.cm-markdown-mark {
		color: transparent;
	}
}

.cm-markdown-inline-code,
.cm-markdown-code-block {
	color: color-mix(in srgb, var(--color-text), black 10%);
	font-family: 'Ubuntu Mono', monospace;
	background-color: #0004;
}

.cm-markdown-inline-code {
	padding-block: .125rem;

	&:has(.cm-markdown-hidden) {
		padding-inline: .25rem
	}

	border-radius: .25rem;
}

.cm-markdown-code-block {
	-padding-inline: .375rem !important;
	-text-indent: .375rem;
}

.cm-markdown-code-block:first-child,
.cm-line:not(.cm-markdown-code-block) + .cm-markdown-code-block {
	border-top-left-radius: .375rem;
	border-top-right-radius: .375rem;
}

.cm-markdown-code-block:has(+ .cm-line:not(.cm-markdown-code-block)),
.cm-markdown-code-block:last-child {
	border-bottom-right-radius: .375rem;
	border-bottom-left-radius: .375rem;
}

/*

	element.style {
    tab-size: 4;
	}

	.cm-content {
    caret-color: transparent !important;
	}

	.cm-content {
    caret-color: white;
	}

	.cm-line {
    caret-color: transparent !important;
	}

*/
